/*navbar*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#home::before {
  height:446px;
}

.navigation ul li a {
  font-size: 1rem;

  padding: 0px 20px;
}
.navigation {
  flex-direction: column;
}
#product {
  flex-direction: column;
  
}
#product .box {
    width: 297px;
    height: 350px;
}
#product .box img {
  width: 140px;
}
#product-container {
  margin: -16px 3px; 
}

#home {
  height: 483px;
  padding: 9px 43px;
}
/*Utility Classes*/
.h_primary {
  font-size: 1.5rem;
}
#home .head_1 {
  font-size: 14px;
}
.h_primary2 {
  font-size: 1.5rem;
}
