/*navbar*/
#home::before {
  height:446px;
}

.navigation ul li a {
  font-size: 1rem;

  padding: 0px 20px;
}
.navigation {
  flex-direction: column;
}
#product {
  flex-direction: column;
  width: 400px;
}
#product .box {
  position: absolute;
    width: 350px;
    height: 309px;
}
#product .box img {
  width: 140px;
}
#product-container {
  margin: -38px 2px;
}

.box {
  width: 200px;
}
#home {
  height: 683px;
  padding: 9px 43px;
}
/*Utility Classes*/
.h_primary {
  font-size: 1.5rem;
}
#home .head_1 {
  font-size: 14px;
}
.h_primary2 {
  font-size: 1.5rem;
}
