/*navbar*/
body {
  overflow-x: hidden;
}
.navigation ul li a {
  font-size: 1rem;

  padding: 0px 20px;
}
.navigation {
  flex-direction: column;
}
#product {
  flex-direction: column;
  width: 400px;
}
#product .box {
  width: 200px;
}
#product .box img {
  width: 140px;
}

.box {
  width: 200px;
}
#home {
  height: 613px;
  padding: 9px 54px;
}
/*Utility Classes*/
.h_primary {
  font-size: 1.5rem;
}
#home .head_1 {
  font-size: 14px;
}
.h_primary2 {
  font-size: 1.5rem;
}
